@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    position: relative;

}

.parent {
    position: relative;
    height: 100vh;
    width: 100%;
}

.parent::before {
    content: "";
    background-image: url('images/background1.jpg');
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.child {
    position: relative;
}


#header {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: #f2c94c;
}

#container {
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}

#container p {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
}

#btn-translate {
    padding: 0.5rem 1rem;
    width: 15rem;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #f2c94c;
}

#txt-input,
#output {
    position: relative;
    color: #FFF;
    font-weight: 500;
    width: 90%;
    padding: 2rem;
    background-color: rgba(14, 13, 13, 0.425);
    border: 2px solid #f2c94c;
    border-radius: 10px;
}

textarea {
    display: block;
    margin: 1rem;
    padding: 1rem;
    height: 10rem;
    resize: none;
    font-size: 1.2rem;
    font-weight: 1000;
}

::placeholder {
    color: white;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

#footer {
    background-color: #f2c94c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    font-size: 1.5rem;
    padding: 0.25rem;
}

#about-text {
    font-size: 1rem;
    width: 90%;
    padding: 0.5rem 0.5rem;

}
